<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Movies</title>
  </head>
  <body>
    <div id="app">
      <v-app>
        <!-- Set the background dynamically based on whether it's raining or not -->
        <v-app-bar
          app
          dark
        >
          <v-app-bar-nav-icon>
            <v-icon>mdi-movie-open</v-icon>
          </v-app-bar-nav-icon>
          <v-toolbar-title>Movies</v-toolbar-title>
        </v-app-bar>

        <v-main>
          <v-container>
            <v-form>
              <v-row>
                <v-col cols="12" md="2">
                  <v-text-field
                    outlined label="Year"
                    v-model="year" :rules="[rules.required, rules.year]"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="10">
                  <v-text-field
                    outlined label="Title"
                    v-model="title" :rules="[rules.required]"
                  ></v-text-field>
                </v-col>
              </v-row>
              <v-row align="center" justify="space-around">
                <v-btn
                  color="success"
                  :loading="loading.create" :disable="loading.create" @click="tableAction('create')"
                >Create</v-btn>
                <v-btn
                  color="error"
                  :loading="loading.delete" :disable="loading.delete" @click="tableAction('delete')"
                >Delete</v-btn>
                <v-btn
                  color="primary"
                  :loading="loading.query" :disable="loading.query" @click="query(year, title)"
                >Query</v-btn>
              </v-row>
            </v-form>

            <v-data-table
              :headers="movieHeaders"
              :items="movies"
              :items-per-page="10"
            >
            </v-data-table>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/lodash@4.x/lodash.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue-async-computed@3.x/dist/vue-async-computed.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <!--
      Production versions of dependencies
      <script src="https://cdn.jsdelivr.net/npm/lodash@4.x/lodash.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vue-async-computed@3.x/dist/vue-async-computed.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.js"></script>
    -->

    <script>
      const BASE_URL = 'http://localhost:3000';
    </script>
    <script>
      new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        data: {
          year: '',
          title: '',
          movies: [],

          rules: {
            required: value => !!value || 'Required.',
            year: value => {
              const pattern = /^\d{4}$/;
              return pattern.test(value) || 'Invalid year.';
            },
          },
          movieHeaders: [
            { text: 'Year', value: 'year' },
            { text: 'Title', value: 'title' },
            { text: 'Plot', value: 'plot', sortable: false },
          ],

          loading: {
            create: false,
            delete: false,
            query: false,
          },
        },
        methods: {
          async tableAction(action) {
            this.loading[action] = true;

            try {
              const res = await fetch(`${BASE_URL}/movies`, {
                method: action == 'delete' ? 'DELETE' : 'POST'
              });
              if (!res.ok) {
                throw await res.json();
              }
            } catch (err) {
              this.error(err);
            } finally {
              this.loading[action] = false;
            }
          },
          async query(year, title) {
            this.loading.query = true;

            try {
              const res = await fetch(`${BASE_URL}/movies/${year}/${title}`);
              const data = await res.json();
              if (!res.ok) {
                throw data;
              }

              this.movies = data;
            } catch (err) {
              this.error(err);
            } finally {
              this.loading.query = false;
            }
          },
          error(err) {
            alert(err.message ? err.message : err.toString());
          }
        },
        asyncComputed: {
          async info() {
          },
        },
      });
    </script>
  </body>
</html>
